In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Quantos arquivos gerados
base_path = Path(
    "../../data-lake/raw/mercado_financeiro/yahoo_finance/tipo=fii"
)

arquivos = list(base_path.rglob("*.parquet"))
len(arquivos)

43

In [5]:
df = pd.read_parquet(
    "../../data-lake/raw/mercado_financeiro/yahoo_finance/"
    "tipo=fii/ativo=HGLG11.SA/dt_carga=2026-01-10/"
    "hglg11.sa_diario.parquet"
)

df.head()
df.tail()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3484 entries, 0 to 3483
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ('Date', '')             3484 non-null   datetime64[ns]
 1   ('Close', 'HGLG11.SA')   3484 non-null   float64
 2   ('High', 'HGLG11.SA')    3484 non-null   float64
 3   ('Low', 'HGLG11.SA')     3484 non-null   float64
 4   ('Open', 'HGLG11.SA')    3484 non-null   float64
 5   ('Volume', 'HGLG11.SA')  3484 non-null   int64
 6   ('ativo', '')            3484 non-null   object
 7   ('tipo', '')             3484 non-null   object
 8   ('fonte', '')            3484 non-null   object
 9   ('dt_ingestao', '')      3484 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 272.3+ KB

In [6]:
df.head()

,"('Date', '')","('Close', 'HGLG11.SA')","('High', 'HGLG11.SA')","('Low', 'HGLG11.SA')","('Open', 'HGLG11.SA')","('Volume', 'HGLG11.SA')","('ativo', '')","('tipo', '')","('fonte', '')","('dt_ingestao', '')"
0,2012-01-02,80.911667,80.911667,80.911667,80.911667,0,HGLG11.SA,fii,yahoo_finance,2026-01-10
1,2012-01-03,80.911667,80.911667,80.911667,80.911667,0,HGLG11.SA,fii,yahoo_finance,2026-01-10
2,2012-01-04,80.911667,80.911667,80.911667,80.911667,0,HGLG11.SA,fii,yahoo_finance,2026-01-10
3,2012-01-05,80.220795,80.220795,80.220795,80.220795,509,HGLG11.SA,fii,yahoo_finance,2026-01-10
4,2012-01-06,80.220795,80.220795,80.220795,80.220795,0,HGLG11.SA,fii,yahoo_finance,2026-01-10